<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
    <link rel="stylesheet" href="/public/CSS/my_reset.css" />
    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- 폰트어썸 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/detail.css" />
  </head>
  <body>
    <div class="all_wrap">
      <h1 class="title">Detail</h1>
      <div class="wrap mw">
        <div class="classify">
          <div class="categori" data-value="<%= data.구분 %>">
            <%= data.구분%>
          </div>
          <div class="bookmark">
            <img src=" <%= data.책갈피 %>" />
          </div>
        </div>
        <div class="top">
          <h2><%= data.제목%></h2>
          <p><%= data.날짜%></p>
        </div>
        <div class="contents"><%= data.내용%></div>
        <div class="btns">
          <a class="delete" data-id="<%= data._id%>">삭제</a>
          <a class="modify" href="/edit/<%= data._id%>">수정</a>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
      $('.delete').click(function (e) {
        let num = e.target.dataset.id;
        $.ajax({ method: 'DELETE', url: '/delete', data: { _id: num } })
          .done(function (result) {
            location.href = '/';
          })
          .fail(function (xhr, textStatus, errorThrown) {
            console.log(xhr, textStatus, errorThrown);
          });
      });
    </script>
  </body>
</html>
